@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

html,
body {
  /* font-family: "Source Sans Pro", sans-serif; */
  font-family: "Poppins", sans-serif;
}

.overflowHide {
  overflow-x: hidden;
}

@media (max-width: 480px) {
  .hr-tag {
    position: relative;
    left: 30px;
    width: 50%;
  }
}

.themeColor {
  color: teal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px teal;
  border-radius: 10px;
  border-color: teal;
}

::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #383838;
}

/* Navigation Bar */

.nav-bg {
  background-color: #1a3c40;
}

.navbar-size {
  margin: 0.5%;
}

.nav-brand {
  font-weight: bold;
}

.navItem {
  font-size: 20px;
}

.brand-img {
  padding-left: 15px;
  position: relative;
  top: 10px;
}

/* Top Container */

.textBorderStyle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.topContainer {
  background-image: url("https://res.cloudinary.com/dh7xchikj/image/upload/v1656754001/Recruitments/top_mcdnpx.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding: 100px;
}

.topTitle {
  position: relative;
  top: 340px;
  color: teal;
}

.candidateCard {
  position: relative;
  top: 50px;
}

.faqCard {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border-color: teal;
  color: teal;
  position: relative;
  left: 40px;
  width: 20rem;
}

.candidateForm {
  border-color: teal;
  background-color: white;
  color: teal;
  border-radius: 20px;
  border-color: teal;
  box-shadow: 2px 3px 15px teal;
}

.canForms {
  margin-left: 600px;
}

.candidateForm {
  width: 25rem;
  height: 30rem;
}

/* About Us */

.about {
  background-image: url("https://res.cloudinary.com/dh7xchikj/image/upload/v1656757000/Recruitments/aboutus1_eqo1ob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.card-bg {
  width: 20rem;
  height: auto;
}

.mui-icons {
  justify-content: center;
  font-size: 35px;
  position: relative;
  top: 10px;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(20% at 10% 10%);
}

.card-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.card-container .card-hover {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.card-container .card-hover .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.card-container .card-hover:hover .content {
  transform: translateY(-20px);
}

.card-hover:hover {
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
}

@media (mex-width: 480px) {
}

/* Our Services  */

.services-section {
  margin-top: 10%;
  margin-bottom: 10%;
}

.services-card {
  width: 20rem;
  height: 12rem;
  color: black;
  margin-left: 20px;
  padding: 5% 2%;
}

.services-text {
  font-weight: bold;
}

/* testing */

.servicesCard {
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  display: grid;
  place-content: center;
  font-weight: bold;
}

.servicesCard .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
  pointer-events: none;
}

.servicesCard .card-one {
  width: 25rem;
  max-height: auto;
  color: teal;
  padding: 1.5rem;
  background-color: white;
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
  transition: all 150ms ease-in-out;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border-color: teal;
}

@media (max-width: 469) {
  .servicesCard .card-one {
    max-width: 25rem;
    height: auto;
  }

  .servicesCard {
    width: 25rem;
    height: auto;
  }
}

.servicesCard .card-one .cardTitle {
  position: relative;
}

.servicesCard .card-one .cardTitle::before {
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  box-shadow: inset 0 0 3px #bb86fc;
  background-color: transparent;
  position: absolute;
  right: 0;
}

.servicesCard .card-one {
  font-size: 0.9rem;
}

.services-card .card-one:nth-child(even) {
  transform: translateY(8px);
}

.services-card .card-one:nth-child(n) {
  transform: rotate(-5deg);
}

.cards:hover > .card-one:hover {
  transform: scale(1.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.cards:hover > .card-one:not(:hover) {
  opacity: 0.5;
}

/* Why Choose Us and What We Provide */

.twoGrid {
  margin: 3%;
}

.chooseContent,
.weDoContent {
  width: 30rem;
  height: auto;
}

.twoComponent {
  position: relative;
  left: 70px;
}

.twoTitle {
  position: relative;
  top: 15px;
}

.knowUsTitle {
  position: relative;
  right: 50px;
}

/* Milestone */

.milestone {
  background-image: url("https://res.cloudinary.com/dh7xchikj/image/upload/v1656757076/Recruitments/history_aobceg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

.milestoneCard {
  right: 20px;
  width: 16rem;
  height: 12rem;
  border-radius: 20px;
  color: teal;
  border-color: teal;
  box-shadow: rgba(#005555, #069a8e, #a1e3d8, #f7ff93);
  display: flex;
}

/* Challenges */

.challengeContainer {
  margin-top: 6%;
  margin-bottom: 6%;
}

.challenge-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

.cardContainer {
  position: relative;
  right: 40px;
}

.face-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  box-shadow: inset 0 0 0 175px rgba(255, 255, 255, 0.1);
  filter: blur(20px);
  z-index: -1;
}
.face {
  width: 250px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.05);
  border: 0.1px solid rgba(255, 255, 255, 0.425);
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #61a4bc;
  color: #1a3c40;
}

.face-inner {
  padding: 1.25rem;
}

.face h3 {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
.face h4 {
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}

.mileStoneTitle {
  font-size: 80px;
}

/* Faq DropDown */

.App {
  text-align: center;
}

.question-section {
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  width: 92vw;
  margin-top: 50px;
  width: 50rem;
}

.question-align {
  align-items: center;
  display: flex;
  min-height: 10px;
  text-align: left;
}

.question-align h4 {
  margin-left: 8px;
}

.question-style {
  width: 100%;
}

.question-icon {
  background: none;
  border: none;
  color: #1b6aae;
  cursor: pointer;
  font-size: 22px;
  margin-left: auto;
  margin-right: 8px;
}

.rotate {
  transform: rotate(45deg);
}

.answerd-divider {
  border-top: 1px solid lightgray;
}

.answer {
  margin-left: 8px;
  margin-right: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: left;
}

.faq-section {
  padding: 5% 2%;
}

.faqForm {
  position: relative;
  left: 50px;
}

.faqBar {
  position: relative;
  left: 10px;
}

.faqQuestionCard {
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-color: teal;
  color: teal;
  width: 55rem;
}

.faqMessageBox {
  width: 18rem;
  height: 10rem;
}

/* Forms */

.form-control {
  margin-top: 10px;
}

@media (max-width: 480px) {
  .canForms {
    position: relative;
    right: 700px;
    width: 20rem;
    height: auto;
  }
  .candidateForm {
    width: 20rem;
  }
  .topTitle {
    position: relative;
    top: 100px;
    font-size: 100px;
  }
  .mobileTilte {
    font-size: 30px;
  }
  .servicesCard .card-one {
    width: 20rem;
  }
  .servicesCard .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.75rem;
    pointer-events: none;
    margin-left: 50px;
  }
  .faqQuestionCard {
    width: 20rem;
    left: 50px;
  }
  .question-section {
    width: 19rem;
    position: relative;
    right: 20px;
  }
  .faqCard {
    width: 18rem;
    height: auto;
    position: relative;
    left: 20px;
  }
  .faqMessageBox {
    width: 16rem;
    height: 10rem;
  }
  .mileStoneTitle {
    font-size: 50px;
  }
  .chooseContent {
    position: relative;
    right: 20px;
    width: 300px;
  }
  .weDoContent {
    position: relative;
    right: 20px;
    width: 300px;
  }
  .homeContainerContent {
    text-align: center;
    margin-bottom: 50px;
  }
  .homeContainerForm {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  html,
  body {
    justify-content: center;
  }
  .social {
    justify-content: center;
  }
  .twoTitle {
    font-weight: bold;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .canForms {
    position: relative;
    right: 500px;
    width: 20rem;
    height: auto;
  }
  .candidateForm {
    width: 20rem;
  }
  .topTitle {
    position: relative;
    top: 100px;
    bottom: 20px;
    left: 150px;
    font-size: 100px;
  }
  .mobileTilte {
    font-size: 30px;
  }
  .servicesCard .card-one {
    width: 20rem;
  }
  .servicesCard .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    pointer-events: none;
    margin-left: 50px;
  }
  .faqQuestionCard {
    width: 35rem;
    left: 100px;
  }
  .question-section {
    width: 34rem;
    position: relative;
    right: 20px;
  }
  .faqCard {
    width: 18rem;
    height: auto;
    position: relative;
    left: 20px;
  }
  .faqMessageBox {
    width: 16rem;
    height: 10rem;
  }
  .mileStoneTitle {
    font-size: 70px;
  }
  .chooseContent {
    position: relative;
    left: 50px;
    width: 500px;
  }
  .weDoContent {
    position: relative;
    left: 50px;
    width: 500px;
  }
  .homeContainerContent {
    text-align: center;
    margin-bottom: 50px;
  }
  .homeContainerForm {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  html,
  body {
    justify-content: center;
  }
}
