@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  color: #05595b;
}

html,
body {
  font-family: "Didact Gothic", sans-serif;
  overflow-x: hidden;
}

.hr-tag {
  color: black;
  background-color: black;
  width: 90%;
  margin-left: 70px;
}

/* Navigation Bar */

.nav-bg {
  background-color: #1a3c40;
}

.nav-brand {
  font-weight: bold;
}

.carousel-image {
  width: 90vw;
  height: 100vh;
}

/* Top Carousel */

.textBorderStyle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

/* About Us */

/* .about {
  background-color: #61a4bc;
} */

.about-content {
  margin-top: 40px;
  margin-left: 70px;
  width: 600px;
  height: auto;
}

.about-content1 {
  margin-top: 100px;
  margin-left: 70px;
  width: 600px;
  height: auto;
}

.about-img1 {
  position: relative;
  left: 200px;
}

.about-image {
  border-radius: 20px;
}

.about-img2 {
  position: relative;
  left: 150px;
  top: 70px;
}

/* Our Services  */

.services-section {
  margin-top: 10%;
  margin-bottom: 10%;
}

.services-card {
  width: 20rem;
  height: 12rem;
  color: black;
  margin-left: 20px;
  padding: 5% 2%;
}

.services-text {
  font-weight: bold;
}

/* Why Choose Us */

.chooseus-icon {
  position: relative;
  left: 200px;
}
