@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

@media (max-width: 480px) {
  .hr-tag {
    position: relative;
    left: 30px;
    width: 50%;
  }
}

/* Navigation Bar */

.nav-bg {
  background-color: #1a3c40;
}

.navbar-size {
  margin: 1%;
}

.nav-brand {
  font-weight: bold;
  font-size: 25px;
}

.navItem {
  font-size: 20px;
}

.carousel-image {
  width: 90vw;
  height: 100vh;
}

/* Top Carousel */

.textBorderStyle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500px;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

/* About Us */

.about {
  background-image: url("/aboutus1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  /* filter: grayscale(100%); */
}

.card-bg {
  width: 20rem;
  height: auto;
}

.mui-icons {
  justify-content: center;
  font-size: 45px;
  animation: rotate 2s infinite linear forwards;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.mui-icon-default {
  justify-content: center;
  font-size: 45px;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(20% at 10% 10%);
}

.card-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.card-container .card-hover {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.card-container .card-hover .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.card-container .card-hover:hover .content {
  transform: translateY(-20px);
}

.card-hover:hover {
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
}

@media (mex-width: 480px) {
  .first-content {
    width: 1000px;
    height: auto;
  }
}

/* Our Services  */

.services-section {
  margin-top: 10%;
  margin-bottom: 10%;
}

.services-card {
  width: 20rem;
  height: 12rem;
  color: black;
  margin-left: 20px;
  padding: 5% 2%;
}

.services-text {
  font-weight: bold;
}

/* testing */

.servicesCard {
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  display: grid;
  place-content: center;
}

.servicesCard .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
  pointer-events: none;
}

.servicesCard .card-one {
  max-width: 25rem;
  color: #ffffffda;
  padding: 1.5rem;
  background-color: #202022;
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
  transition: all 150ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.servicesCard .card-one .cardTitle {
  position: relative;
}

.servicesCard .card-one .cardTitle::before {
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  box-shadow: inset 0 0 3px #bb86fc;
  background-color: transparent;
  position: absolute;
  right: 0;
}

.servicesCard .card-one .description {
  font-size: 0.9rem;
}

.services-card .card-one:nth-child(even) {
  transform: translateY(8px);
}

.services-card .card-one:nth-child(n) {
  transform: rotate(-5deg);
}

.cards:hover > .card-one:hover {
  transform: scale(1.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.cards:hover > .card-one:not(:hover) {
  opacity: 0.5;
}

/* Why Choose Us and What We Provide */

.twoGrid {
  margin: 3%;
}

.chooseContent,
.weDoContent {
  width: 30rem;
  height: auto;
}

/* Milestone */

.milestone {
  background-image: url("/history.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

/* Challenges */

.challengeContainer {
  margin-top: 6%;
  margin-bottom: 6%;
}

.challenge-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

.cardContainer {
  position: relative;
  right: 20px;
}

.face-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  box-shadow: inset 0 0 0 175px rgba(255, 255, 255, 0.1);
  filter: blur(20px);
  z-index: -1;
}
.face {
  width: 250px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.05);
  border: 0.1px solid rgba(255, 255, 255, 0.425);
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #61a4bc;
  color: #1a3c40;
}

.face-inner {
  padding: 1.25rem;
}

.face h3 {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
.face h4 {
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}

.animate {
  animation: slide 4s linear infinite alternate;
  position: relative;
}

@keyframes slide {
  0% {
    left: 0px;
  }
  25% {
    left: 200px;
  }
  50% {
    left: 200px;
  }
  75% {
    left: 400px;
  }
  100% {
    left: 0px;
  }
}

/* Faq DropDown */

.App {
  text-align: center;
}

.question-section {
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  width: 92vw;
  margin-top: 50px;
}

.question-align {
  align-items: center;
  display: flex;
  min-height: 10px;
  text-align: left;
}

.question-align h4 {
  margin-left: 8px;
}

.question-style {
  width: 100%;
}

.question-icon {
  background: none;
  border: none;
  color: #1b6aae;
  cursor: pointer;
  font-size: 22px;
  margin-left: auto;
  margin-right: 8px;
}

.rotate {
  transform: rotate(45deg);
}

.answerd-divider {
  border-top: 1px solid lightgray;
}

.answer {
  margin-left: 8px;
  margin-right: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: left;
}

.faq-section {
  padding: 5% 2%;
}
